.RequestsContainer {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.RequestsContainer ul {
  margin: 0;
  padding: 0;
}

.RequestsContainer li {
  color: var(--secondary-bg-color);
  background-color: var(--text-color);
  list-style: none;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
}

.RequestsContainer li label {
  font-size: 1.3rem;
  margin: 0.7rem;
}

.RequestsContainer li button {
  background-color: var(--text-color);
  border-radius: 20px;
  border: 1px solid black;
  margin: 0.1rem;
  padding: 0.7rem;
}

.RequestsContainer li button:hover {
  background-color: gray;
}

.back-button-friend-request{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: var(--text-color);
  padding: 1.2rem;
}

.back-button-friend-request:hover {
  transform: scale(1.1);
}
