.sidebar {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  width: max(20%, 25rem);
  height: 100vh;
  background-color: var(--secondary-bg-color);

  justify-content: center;
  border-right: 1px solid black;
  overflow: scroll;
}

.sidebar h3 {
  font-size: 2rem;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 1.1rem;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar-button:hover {
  background-color: gray;
}

.add-button {
  border-radius: 5px;
  border: 1px solid gray;
  background-color: lightgrey;
  color: black;
  margin: 1rem;
}

.add-button:hover {
  background-color: gray;
}

.chat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-button {
  width: 90%;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  margin: 1rem;
}

.chat-button:hover {
  background-color: gray;
}

@media (max-width: 780px) {
  .sidebar {
    width: 100%;
    display: none;
  }
  .sidebar.visible {
    display: block;
  }
}
