::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

.chatfield {
  width: 85%;
  height: 102vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatfield h1 {
  text-align: center;
}

.friends-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sending-container {
  height: 15vh;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1.2rem;
}

.chat-input {
  margin: 1.5rem;
  padding: 1.3rem;
  font-size: 1.5rem;

  border-radius: 2rem;
  border: 1px solid black;
}

.send-button {
  margin: 1.5rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid black;
}

.send-button:hover {
  background-color: gray;
}
