.chatbox {
  width: 100%;
  height: 90vh;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.messages-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chatbox-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid black;
}

.chatbox-header-2 {
  width: 100%;
  position: sticky;
  top: 10vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back-button {
  width: 6rem;
  height: 2rem;
  border: none;
  background-color: var(--text-color);
  display: none;
  font-size: 1.5rem;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.add-user-input {
  font-family: 'Times New Roman', Times, serif;
  border: none;
  width: 10rem;
  height: 1.5rem;
  background-color: var(--text-color);
  color: black;
}

.chatbox-header h1 {
  margin-left: 2rem;
}

.chatbox-header div{
  margin-right: 2rem;
}

.error-label {
  font-size: 1.1rem;
  display: none;
}

@media (max-width:780px) {
  .chatbox-header {
    font-size: 0.8rem;
    width: 100%;
    border-left: none;
  }

  .chatbox-header input {
    width: 4rem;
  }
}
