::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

.chatfield {
  width: 85%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatfield h1 {
  text-align: center;
}

.friends-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.friend-name {
  background-color: lightgray;
  padding: 2rem;
  width: auto;
  font-size: 1.5rem;
}

.sending-container {
  height: 15vh;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1.2rem;
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-input {
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  width: 60%;
  height: 50%;
}

.send-button {
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid black;
  width: 20%;
  height: 50%;
}

.send-button:hover {
  background-color: gray;
}
