::-webkit-scrollbar {
  display: none;
}

body {
  overflow: hidden;
}

.chatfield {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatfield h1 {
  text-align: center;
}

.friend-name {
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  width: auto;
  font-size: 1.5rem;
  margin: 1rem;
}

.sending-container {
  background-color: var(--secondary-bg-color);
  height: 15vh;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 1.2rem;
  width: 80%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat-input {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--text-color);
  font-size: 1.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  width: 60%;
  height: 50%;
  padding: 0.5rem;
}

.send-button {
  background-color: var(--text-color);
  padding: 1.2rem;
  border-radius: 1.2rem;
  border: 1px solid black;
  width: 20%;
  height: 50%;
}

.send-button:hover {
  background-color: gray;
}

.sendimg {
  width: 100%;
  height: 100%;
}

.back-button-friends {
  border: none;
  background-color: var(--text-color);
  display: none;
  position: absolute;
  top: 0vh;
  left: 0;
  font-size: 1.5rem;
  border: 1px solid black;
}

.back-button:hover, .back-button-friends:hover {
  transform: scale(1.1);
}

@media (max-width: 780px) {
  .chatfield {
    width: 100%;
  }

  .chatfield.visible {
    display: none;
  }

  .back-button, .back-button-friends {
    display: block;
  }
}
